{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>{{ controller_name }}</h1>

    <p>On ne va pas se mentir, acheter c’est souvent l’investissement d’une vie !</p><p>C’est pourquoi il ne faut pas se tromper. Lors de l’achat, il est important de faire les bons choix pour y vivre sereinement le temps nécessaire. Néanmoins, il ne faut pas à ce moment-là perdre de vue la revente et garder en tête que l’achat reste un investissement qui peut permettre de faire une belle plus-value.</p><p> Pour réaliser le meilleur placement, votre agent SBK IMMOBILIER vous conseillera à chaque étape de la transaction.</p>

        <div class="cards">
        {% for bien in biens %}
            <div class="card">
                <img src="{{ bien.photo }}" alt="image du bien" style="width:350px;height:200px">
                <div class="container">
                    <h2><b>{{ bien.type }} de {{ bien.surfaceH }}m²</b></h2>
                    <p>{{ bien.pieces }} pièces · {{ bien.localisation }}</p>
                    <h2>{{ bien.prix }}€</h2>
                {% if bien.surfaceT == false %}
                    <p>Pas de terrain</p>
                    {% else %}
                    <p>Terrain de {{ bien.surfaceT }}m²</p>
                {% endif %}
                    <p>{{ bien.etat }}</p>
                    <div class="energieContainer">Classe énergetique: 
                {% if bien.energie.hex != null %}
                        <div class="energie" style="background-color:{{ bien.energie.hex }}">{{ bien.energie.colorName }}</div>
                    {% else %}
                        <div class="energie energieNull" >{{ bien.energie.colorName }}</div>
                {% endif %}
                    </div>
                    <p>{{ bien.description | u.truncate(150) }} ...</p>
                </div>
            </div> 
        {% endfor %}
        </div> 
{% endblock %}
