{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
            <div class="title">
                <h1>Nos coups de coeur</h1>
            </div>
        <div class="cards">
        {% for bien in biens %}
            <div class="card">
                <img src="{{ bien.photo }}" alt="image du bien" style="width:350px;height:200px">
                <div class="container">
                    <h2><b>{{ bien.type }} de {{ bien.surfaceH }}m²</b></h2>
                    <p>{{ bien.pieces }} pièces · {{ bien.localisation }}</p>
                    <h2><em>{{ bien.prix }}€</em></h2>
                {% if bien.surfaceT == false %}
                    <p>Pas de terrain</p>
                    {% else %}
                    <p>Terrain de {{ bien.surfaceT }}m²</p>
                {% endif %}
                    <p>Style : {{ bien.etat }}</p>
                    <div class="energieContainer">Classe énergetique: 
                {% if bien.energie.hex != null %}
                        <div class="energie" style="background-color:{{ bien.energie.hex }}"><p>{{ bien.energie.colorName }}</p></div>
                    {% else %}
                        <div class="energie energieNull" ><p>{{ bien.energie.colorName }} </p></div>
                {% endif %}
                    </div>
                    <p>Description : {{ bien.description | u.truncate(50) }} ...</p>
                </div>
            </div> 
        {% endfor %}
        </div> 
{% endblock %}
