{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="cards">
{% for bien in biens %}
    <a class="card" href="{{ path('bien_show', {'id': bien.id}) }}">
        <div class="cardImage">
            <img src="{{ bien.photo }}" alt="image du bien" style="width:350px;height:200px">
        </div>
        <div class="cardInfo">
            <div class="cardDetail">
                <p class="cardDetailtitle">{{ bien.type }} {{ bien.pieces }} pièces {{ bien.surfaceH }}m²</p>
                <p class="cardDetailprice">{{ bien.prix }}€</p>
                <p class="cardDetailaddr">{{ bien.localisation }}</p>
            </div>
            <div class="cardDate">
                <div>
                    {% if bien.dateModification is not null %}
                        {{ bien.dateModification ? bien.dateModification|date('d / m') : '' }}
                    {% else %}
                        {{ bien.dateCreation ? bien.dateCreation|date('d / m') : '' }}
                    {% endif %}
                </div>
                <div>
                    <icon class="fa fa-heart-o"></icon>
                </div>
            </div>
        </div>
    </a>
{% endfor %}
</div>
<h2 style="background-color:whitesmoke;">Ces annonces peuvent vous intéresser</h2>
<div class="contain">
{% for bien in biens %}
    <div class="cart">
        <h2>{{ bien.prix }}€</h2>
        <icon class="fa fa-arrow-right"></icon>
        <p>{{ bien.pieces }} pièces {{ bien.surfaceH }}m² {{ bien.type }} </p>
        <div class="pic">
                <img src="{{ bien.photo }}" alt="image du bien" style="width:350px;height:200px">
        </div>
        <span>{{ bien.localisation }} </span>
        <button>
        <a href="{{ path('bien_show', {'id': bien.id}) }}"></a>
        </button>
    </div>

{% endfor %}
</div>
{% endblock %}
