<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SBK immo | {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{asset('favicon.ico')}}" />
        <link rel="stylesheet" href="{{asset('assets/css/main.css')}}" />
        <!-- Font-Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {{ include('partials/_nav.html.twig')}}
        <div class="base">
        {{ include('partials/_banner.html.twig')}}
            {% block body %}{% endblock %}
        </div>
        <script src="{{asset('assets/js/carousel.js')}}"></script>
    </body>
</html>
